<!doctype html>
<html>
<head>
  <title>{{title}}</title>
  <meta charset="utf8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="public/css/index.css">
</head>
<body>
  <section class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">

        <!-- Navigation -->
        <nav class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand"><strong>FetchrBot</strong></h3>

            <ul class="nav masthead-nav">
              <li class="active">
                <a href="#">Home</a>
              </li>

              <!--
              <li>
                <a href="#">Features</a>
              </li>

              <li>
                <a href="#">Contact</a>
              </li>
              -->
            </ul>
          </div>
        </nav>

        <!-- Description -->
        <article class="inner cover">
          <h1 class="cover-heading">Information: Anywhere, Anytime.</h1>

          <p class="lead">FetchrBot is a free service that lets you get the
            information you want, without the need for internet. Just text 
            &lt;our number&gt; asking for what you want to know, and FetchrBot 
            will text you back with the answer. Simple, free, <strong>FetchrBot</strong>.
          </p>
          <!--
          <p class="lead">
            <a class="btn btn-lg btn-info" href="#">Show me how!</a>
          </p>
          -->
        </article>

        <!-- Footer -->
        <footer class="mastfoot">
          <div class="inner">

            <p>Made with &hearts; by Thanasi Karachotzitis ~ <a href=
              "https://github.com/TomKay94">My GitHub</a>
            </p>
          </div>
        </footer>

      </div>
    </div>
  </section>
</body>
</html>
